body {
    background-color: #2b2d42;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* El cursor de cruz (crosshair) le da el toque de software de diseño */
canvas {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    cursor: crosshair; 
}

.controles {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    background-color: #ef233c;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
